<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="hola hola-global">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <input [(ngModel)]="title" type="text"/>
  </div>   
  <div>
    <button (click)="mostrarImagen()">{{text}}</button>
  </div>
  
  <p *ngIf="active">Texto1</p>
  <p *ngIf="!active">Texto2</p>
  <img *ngIf="active" width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<!--;let i = index -->
<!--<div *ngFor="let persona of nombres;let i = index" id="1">
  <li>{{i}}-{{persona.name}} {{persona.surname}}</li>  
  <button (click)="delete(i)">Borrar</button>
  
</div>


<div>
  <label>Nombre</label>
  <input [(ngModel)]="personaToAdd.name" type="text"/>
  <label>Apellido</label>
  <input [(ngModel)]="personaToAdd.surname" type="text"/>
</div>   
<div >  
  <button *ngIf="validatePerson()" (click)="pushName()">Añadir</button>
</div>
-->
<li>
  <a routerLink="ruta1">Ruta 1</a>
</li>
<li>
  <a routerLink="ruta2/{{param}}">Ruta 2</a>
</li>
<router-outlet></router-outlet>